<h2>Liste des utilisateurs</h2>

<div>
  <label for="new-user">nom utilisateur: </label>
  <input id="new-user" #userName />

  <label for="new-user">prenom utilisateur: </label>
  <input id="new-user" #userPrenom  />

  <label for="new-user">date de naissance: </label>
  <input type="date" id="new-user" #userDate />

  <label>Adresse</label>
  <br>
  <br>

  <label for="new-user">Type d'adresse: </label>
  <input id="new-user" #userAdressType />

  <label for="new-user">Type de voie: </label>
  <input id="new-user" #userTypeVoie />

  <label for="new-user">Rue: </label>
  <input id="new-user" #userRue />

  <label for="new-user">Numero: </label>
  <input id="new-user" #userNumero />

  <label for="new-user">Ville: </label>
  <input id="new-user" #userVille />

  
  <label for="new-user">Commentaire: </label>
  <input id="new-user" #userCommentaire />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(userName.value,userPrenom.value,userAdressType.value,userDate.value); userName.value=''">
    ajouter utilisateur
  </button>
</div>

<ul class="users">
  <li *ngFor="let user of users">
    <a routerLink="/detail/{{user.id}}">
      <span class="badge">{{user.id}}</span> {{user.nom}}
    </a>
    <button class="delete" title="delete user"
      (click)="delete(user)">x</button>
  </li>
</ul>
