<div *ngIf="user">
    <h2>{{user.nom | uppercase}} Details</h2>
    <div><span>id: </span>{{user.id}}</div>
    <div>
      <label for="user-name">nom utilisateur: </label>
      <input id="user-name" [(ngModel)]="user.nom" placeholder="nom utilisateur"/>
      <label for="user-prenom">prenom utilisateur: </label>
      <input id="user-name" [(ngModel)]="user.prenom" placeholder="prenom utilisateur"/>
  
      <label for="user-datenaissance">date de naissance: </label>
      <input id="user-name" [(ngModel)]="user.datenaissance" placeholder="date de naissance utilisateur"/>
      
      <label>Adresse</label>
      <!--
      <label for="user-typeadresse">type d'adresse: </label>
      <input id="user-name" [(ngModel)]="user.adresse" placeholder="type adresse"/>
  -->
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div>
  